.Setup-css {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.Setup-main-body {
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inika", serif;
  height: 100%;
}
