.UserWallet {
  display: flex;
  flex-direction: row;
  gap: 7%;
}

.wallet-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

.wallet-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
